.aboutus h1{
    background-color: rgb(0, 0, 0);
    padding: 0px;
}
.grp img{
    margin-left: 8%;
    border: solid indigo 2px;
    height: 600px ;
    width: 1100px ;
}
.img img{
    float: left;
    margin-left: 50px;
    border: solid red 2px;
    height: 200px;
    width: 250px;
    border-radius: 5%;
    padding: 5px;
}
b{
    color: red;
    font-size: 50px;
}
.teachwrap{
    float: left;
    background-color: #fff;
}
.ar .teacherlower{
    float: left;
    position: relative;
    color: rgb(197, 27, 27);
    background-color: rgb(85, 95, 90);
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: none;
}